/* home page */
#about_me h1, h2 {
  font-family: var(--font-sans);
  color: var(--lightest-slate);
  font-weight: 700;
  margin: 0;
}
#about_me h1 {
  font-size: 70px;
}
#about_me h1 a {
  color: var(--lightest-slate);
}
#about_me h2 {
  color: var(--slate);
  font-size: 45px;
}
#about_me p {
  max-width: 1100px;
}
#pointy {
  color: var(--green);
  font-family: var(--font-mono);
}
#about_me #tag_line {
  font-family: var(--font-mono);
  font-weight: 300;
  color: var(--green);
  margin: 0;
}
#about_me a {
  color: var(--green);
  text-decoration: underline;
  text-decoration-color: transparent;
}
#about_me a:hover {
  text-decoration: underline;
  transition: text-decoration var(--transition_time);
  text-decoration-color: var(--green);
}
#about_me ul {
  float: left;
  padding: 0;
  margin: 0;
  padding-left: 50px;
  list-style-type: circle;
}
#about_me ul li {
  font-family: var(--font-sans);
  font-size: 22px;
  color: var(--green);
}
#about_me ul li p {
  padding: 0;
  margin: 0;
}
