/* work history page */
.job_container {
  padding: 25px;
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  background-color: var(--light-navy);
  border-radius: 5px;
  max-width: 750px;
  margin: 25px 0 25px 0;
}
.job_container a {
  color: var(--lightest-slate);
  text-decoration: underline;
  text-decoration-color: transparent;
}
.job_container a:hover {
  text-decoration: underline;
  transition: text-decoration var(--transition_time);
  text-decoration-color: var(--green);
}
.company {
  font-family: var(--font-sans);
  color: var(--lightest-slate);
  font-size: 50px;
}
.job_title {
  color: var(--slate);
  font-size: 40px;
  margin-top: -10px;
}
.job_title_2 {
  margin-top: 15px;
}
.date_range {
  color: var(--green);
  font-family: var(--font-mono);
  margin: 10px 0 10px 0;
  font-weight: 300;
}
.ul_bullet_points {
  color: var(--lightest-slate);
  font-family: var(--font-sans);
  margin: 0;
  list-style-type: circle;
  color: var(--green);
  font-size: 22px;
}
.ul_bullet_points p {
  font-size: 18px;
  margin: 0;
  font-family: var(--font-sans);
}
