{% extends "index.html" %}
{% block content %}
<div id ="about_me">
    <h3 id="tag_line">Hi, my name is</h3>
    <h1>{{name}}</h1>
    <h2><span id="pointy">></span> {{tag_line}}</h2>
    <p>Hello! My name is Aaron and I love working with data. My interest in computers started in 2006 playing Age of Empires 2 and EveryQuest with my Dad on his "work computer" — turns out playing games all day isn't such a waste of time. My passion for video games set me on the path to studying <a href="https://www.northampton.ac.uk/courses/games-programming-bsc-hons/" target=_blank>Computer Games Development</a> at the University of Northampton in 2014.</p>

    <p>Fast-forward to today, and I've had the privilege of working in Professional Services, Database Administration and as a Technical Engineer. My main focus these days is working as a <a href="https://www.userzoom.com/" target=_blank>T3 Technical Engineer at UserZoom</a> 🦉 — and a little too much Elden Ring.</p>

    <p>These are some of the technologies I work with:</p>
    <ul>
        <li><p>SQL Server</p></li>
        <li><p>Cassandra</p></li>
        <li><p>MongDB</p></li>
    </ul>
    <ul>
        <li><p>PowerBI</p></li>
        <li><p>SSRS</p></li>
        <li><p>SSIS</p></li>
    </ul>
    <ul>
        <li><p>Python</p></li>
        <li><p>Javascript</p></li>
        <li><p>HTML/CSS</p></li>
    </ul>
</div>
{% endblock %}