<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aaron Barratt Dev</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div id="header">
        <div id="header_image_container">
            <img id="pfp" src="/static/pfp.png" alt="profile picture">
        </div>
        <div id="nav_bar">
            <ul>
                <li><a href="">01. About</a></li>
                <li><a href="">02. Projects</a></li>
                <li><a href="">03. Projects</a></li>
                <li><a href="">04. Résumé</a></li>

            </ul>
        </div>
    </div>
</body>
</html>