<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- keeping the desktop css separate for sanity -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/desktop.css') }}">
  </head>
  <body>
    <div class="row">
      <div class="header col-12">
        <div class="profile-picture col-2">
          <img src="/static/pfp.jpg" alt="Aaron Barratt Portrait Image">
        </div>
        <div class="socials col-1">
          <ul>
            <li><a href="https://github.com/aarontbarratt" target=_blank><img src="/static/github.png"></a></li>
            <li><a href="https://www.linkedin.com/in/aaron-barratt/" target=_blank><img src="/static/linkedin.png"></a></li>
            <li><a href="https://www.instagram.com/aarontbarratt/" target="_blank"><img src="/static/instagram.png"></a></li>
          </ul>
        </div>
        <div class="menu col-9">
          <ul>
            <li><a class="menu-text" href="#about-me"><span class="green">01.</span> About</a></li>
            <li><a class="menu-text" href="#projects"><span class="green">02.</span> Projects</a></li>
            <li><a class="menu-text" href="#work"><span class="green">03.</span> Work</a></li>
            <li><a class="menu-text" href="#resume"><span class="green">04.</span> Résumé</a></li>
          </ul>
        </div>
      </div>
      <div class="main-content col-12">
        <div class="about div-12">
          <span id="about-me" class="line-break">about</span>
          <hr>
          <span class="hi-my-name-is green">Hi, my name is</span>
          <h1>{{name}}</h1>
          <h2><span class="green pointy">></span> {{tag_line}}</h2>
          <p>I love working with data! My interest in computers started in 2006 playing Age of Empires 2 and EverQuest with my Dad on his "work computer". My passion for video games set me on the path to studying <a href="https://www.northampton.ac.uk/courses/games-programming-bsc-hons/" target=_blank>Computer Games Development</a> at the University of Northampton in 2014.</p>
          <p>Fast-forward to today, and I've had the privilege of working in Professional Services, Database Administration and as a Technical Engineer. Currently, I am working as a <a href="https://www.userzoom.com/" target=_blank> T3 Technical Engineer at UserZoom</a>.</p>
          <p>In my spare time I enjoy cycling, reading and hanging out with my dog <a href="https://www.instagram.com/FrenchCharlieBrown" target="_blank">Charlie Brown</a>.</p>
          <div class="about-img-container">
            <img class="about-img" src="/static/trek.png" alt="Trek Bicycle">
            <img class="about-img" src="/static/charlie.png" alt="French Bulldog in a blanket">
          </div>
        </div>
        <div class="projects div-12">
          <span id="projects" class="line-break">projects</span>
          <hr>
          <div class="project-container">
            <div class="project-inner">
              <h1 class="project-title"><a href="https://github.com/aarontbarratt/aaron-barratt-website">aaronbarratt.dev</a></h1>
              <p>This website. Made to show off my html, css and design skills. Built with Flask using reactive design principles to work well with mobile and desktop layouts.</p>
              <p>I deliberately avoided using a framework to really understand the fundamentals. Svelte rewrite coming soon™ to get that framework experience.</p>
              <ul>
                <li>python</li>
                <li>html</li>
                <li>css</li>
              </ul>
            </div>
            <div class="project-inner">
              <h1 class="project-title"><a href="https://github.com/aarontbarratt/pyResolutionChanger">pyResolutionChanger</a></h1>
              <p>A simple System Tray application to switch between resolutions with 1 click. I made this because many games still so not support ultra-widescreen monitors and require a 16:9 resolution to run properly.</p>
              <p>I learned how to work wtih the Windows API and design System Tray applications </p>
              <ul>
                <li>Python</li>
                <li>win32api</li>
                <li>pystray</li>
              </ul>
            </div>
            <div class="project-inner">
              <h1 class="project-title"><a href="https://github.com/aarontbarratt/pyImageCropper">pyImageCropper</a></h1>
              <p>Another widescreen monitor issue that needed resolving! When taking steam screenshots in widescreen you will have large black bars to the side of the screenshot.</p>
              <p>I wrote this program to bulk crop these images. With this project I learned how to use tkinter for GUI and Pillow for image processing.</p>
              <ul>
                <li>Python</li>
                <li>Pillow</li>
                <li>tkinter</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="work div-12">
          <span id="work" class="line-break">work history</span>
          <hr>
          <div class="work-inner">
            <h1 class="job-title">T3 Technical Engineer</h1>
            <h2 class="company-name"><a href="https://www.userzoom.com/">UserZoom</a></h2>
            <span class="time-span">2021->Present</span>
            <ul class="bullet-points">
              <li>Resident SQL expert.</li>
              <li>Rewrote the entire ETL process. Saving over 16 hours of run time per week.</li>
              <li>Write Python and Node JS scripts to automate manual processes.</li>
              <li>Debug, investigate and report bugs to the development team.</li>
              <li>Manage and create SSO connections for our customers using Auth0.</li>
            </ul>
          </div>
          <div class="work-inner">
            <h1 class="job-title">Database Administrator</h1>
            <h2 class="company-name"><a href="https://www.welcomebreak.co.uk/">Welcome Break</a></h2>
            <span class="time-span">2019->2020</span>
            <ul class="bullet-points">
              <li>Administered two data warehouses and 50+ small to large SQL servers.</li>
              <li>Developed disaster-recovery plan for business-critical SQL servers and data warehouses.</li>
              <li>Implementing Power BI. Enabling self-service data access.</li>
              <li>Performed optimization and query tuning within key queries of the ETL process.</li>
              <li>Worked with key stakeholders to create sales and auditing reports utilizing SSRS.</li>
            </ul>
          </div>
          <div class="work-inner">
            <h1 class="job-title">Professional Service Engineer</h1>
            <h2 class="company-name"><a href="https://www.agilico.co.uk/invu/">Agilico</a></h2>
            <span class="time-span">2018->2019</span>
            <ul class="bullet-points">
              <li>Project managed and implemented a £100k+ invoice processing solution.</li>
              <li>Develop bespoke business solutions through the use of optical recognition and data storage technology.</li>
              <li>Used excellent time management to deliver projects from conception to completion.</li>
            </ul>
            <h1 class="job-title">Technical Support Engineer</h1>
            <span class="time-span">2017->2018</span>
            <ul class="bullet-points">
              <li>Researched, piloted and implemented Zendesk. Replacing a manual email only support system.</li>
              <li>Provide second and third line technical support for over 1,800 customers.</li>
              <li>Research and develop solutions for unknown and unresolved issues.</li>
              <li>Thoroughly document technical issues and solutions.</li>
            </ul>
          </div>
        </div>
        <div class="resume div-12">
          <span id="resume" class="line-break">résumé</span>
          <hr>
          <iframe src="https://drive.google.com/file/d/1ypspez-lALUC8GygrPqhuXstKT2xS94C/preview" width="100%" height="480" allow="autoplay"></iframe>
        </div>
      </div>  
    </div>
  </body>
</html>