{% extends "index.html" %}
{% block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
{% endblock %}

{% block content %}
<ul class="projects_grid">
    <li id="website" class="project">
        <div class="project_inner">
            <a href="https://github.com/aarontbarratt/aaronbarrattwebsite" target="_blank"><img src="/static/github_mark.png" class="project_github"></a>
            <h1><a href="https://github.com/aarontbarratt/aaronbarrattwebsite" target="_blank">aaronbarratt.dev</a></h1>
            <p class="project_text">This website! Made with Python using Flask.</p>
            <ul class="technologies">
                <li>Python</li>
                <li>Flask</li>
                <li>HTML</li>
                <li>CSS</li>
            </ul>
        </div>
    </li>
    <li id="website" class="project">
        <div class="project_inner">
            <a href="https://github.com/aarontbarratt/pyResolutionChanger" target="_blank"><img src="/static/github_mark.png" class="project_github"></a>
            <h1><a href="https://github.com/aarontbarratt/pyResolutionChanger" target="_blank">pyResolutionChanger</a></h1>
            <p class="project_text">System tray app to switch between resolutions.</p>
            <ul class="technologies">
                <li>Python</li>
                <li>win32api</li>
            </ul>
        </div>
    </li>
    <li id="website" class="project">
        <div class="project_inner">
            <a href="https://github.com/aarontbarratt/pyImageCropper" target="_blank"><img src="/static/github_mark.png" class="project_github"></a>
            <h1><a href="https://github.com/aarontbarratt/pyImageCropper" target="_blank">pyImageCropper</a></h1>
            <p class="project_text">Simple GUI tool to bulk crop images.</p>
            <ul class="technologies">
                <li>Python</li>
                <li>Pillow</li>
            </ul>
        </div>
    </li>
</ul>
{% endblock %}
