{% extends "index.html" %}
{% block content %}
<ul class="projects_grid">
    <li id="website" class="project">
        <div class="project_inner">
            <a href="https://github.com/aarontbarratt/aaronbarrattwebsite" target="_blank"><img src="/static/github_mark.png" class="project_github"></a>
            <a href="https://github.com/aarontbarratt/aaronbarrattwebsite" target="_blank"><h1>aaronbarratt.dev</h1></a>
            <p class="project_text">This website! Made with Python using Flask.</p>
            <ul class="technologies">
                <li>Python</li>
                <li>Flask</li>
                <li>HTML</li>
                <li>CSS</li>
            </ul>
        </div>
    </li>
    <li id="website" class="project">
        <div class="project_inner">
            <a href="https://github.com/aarontbarratt/pyResolutionChanger" target="_blank"><img src="/static/github_mark.png" class="project_github"></a>
            <a href="https://github.com/aarontbarratt/pyResolutionChanger" target="_blank"><h1>pyResolutionChanger</h1></a>
            <p class="project_text">System tray app to switch between resolutions.</p>
            <ul class="technologies">
                <li>Python</li>
                <li>win32api</li>
            </ul>
        </div>
    </li>
    <li id="website" class="project">
        <div class="project_inner">
            <a href="https://github.com/aarontbarratt/pyImageCropper" target="_blank"><img src="/static/github_mark.png" class="project_github"></a>
            <a href="https://github.com/aarontbarratt/pyImageCropper" target="_blank"><h1>pyImageCropper</h1></a>
            <p class="project_text">Simple GUI tool to bulk crop images.</p>
            <ul class="technologies">
                <li>Python</li>
                <li>Pillow</li>
            </ul>
        </div>
    </li>
</ul>
{% endblock %}

<!-- <li id="website" class="project">
    <div class="project_inner">
        <a href="" target="_blank"><img src="/static/github_mark.png" class="project_github"></a>
        <a href="" target="_blank"><h1></h1></a>
        <p class="project_text"></p>
        <ul class="technologies">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</li> -->