{% extends "index.html" %}
{% block content %}
<div class="job_container">
    <a href="https://www.userzoom.com/" target=_blank><h1 class="company">UserZoom</h1></a>
    <h2 class="job_title">T3 Technical Engineer</h2>
    <h3 class="date_range">2021 -> Present</h3>
    <ul class="ul_bullet_points">
        <li><p>Resident SQL expert.</p></li>
        <li><p>Rewrote the entire ETL process. Saving over 16 hours of run time per week.</p></li>
        <li><p>Write Python and Node JS scripts to automate manual processes.</p></li>
        <li><p>Debug, investigate and report bugs to the development team.</p></li>
        <li><p>Manage and create SSO connections for our customers using Auth0.</p></li>
    </ul>
</div>
<div class="job_container">
    <a href="https://www.welcomebreak.co.uk/" target=_blank><h1 class="company">Welcome Break</h1></a>
    <h2 class="job_title">Database Administrator</h2>
    <h3 class="date_range">2019 -> 2020</h3>
    <ul class="ul_bullet_points">
        <li><p>Administered two data warehouses and 50+ small to large SQL servers.</p></li>
        <li><p>Developed disaster-recovery plan for business-critical SQL servers and data warehouses.</p></li>
        <li><p>Implementing Power BI. Enabling self-service data access.</p></li>
        <li><p>Performed optimization and query tuning within key queries of the ETL process.</p></li>
        <li><p>Worked with key stakeholders to create sales and auditing reports utilizing SSRS.</p></li>
    </ul>
</div>
<div class="job_container">
    <a href="https://www.agilico.co.uk/invu/" target=_blank><h1 class="company">Agilico</h1>
    <h2 class="job_title">Professional Service Engineer</h2>
    <h3 class="date_range">2018 -> 2019</h3>
    <ul class="ul_bullet_points">
        <li><p>Project managed and implemented a £100k+ invoice processing solution.</p></li>
        <li><p>Develop bespoke business solutions through the use of optical recognition and data storage technology.</p></li>
        <li><p>Used excellent time management to deliver projects from conception to completion.</p></li>
    </ul>
    <h2 class="job_title job_title_2">Technical Support Engineer</h2>
    <h3 class="date_range">2017 -> 2018</h3>
    <ul class="ul_bullet_points">
        <li><p>Researched, piloted and implemented Zendesk. Replacing a manual email only support system.</p></li>
        <li><p>Provide second and third line technical support for over 1,800 customers.</p></li>
        <li><p>Research and develop solutions for unknown and unresolved issues.</p></li>
        <li><p>Thoroughly document technical issues and solutions.</p></li>
    </ul>
</div>
{% endblock %}